.card-text{
    background-color: black; 
    color: #fffefd;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 50px;

}
.card{
    margin:auto;
    margin-top:10px;
}
.card-img img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

   
}